WifiApplication/Wi-Fi Speed Detector_10092014/Wi-Fi Speed Detector/Wi-Fi Speed Detector/Service References/WiFiSpeedDetector/Service11.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UploadGlobalFile">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="oData" type="s:base64Binary" />
            <s:element minOccurs="0" maxOccurs="1" name="sfile" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UploadGlobalFileResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="UploadGlobalFileResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UploadFiles">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="oData" type="s:base64Binary" />
            <s:element minOccurs="0" maxOccurs="1" name="sfile" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="iGlobalID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="iOption" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UploadFilesResponse">
        <s:complexType />
      </s:element>
      <s:element name="UploadTextFile">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="fileData" type="s:base64Binary" />
            <s:element minOccurs="0" maxOccurs="1" name="fileName" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="option" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UploadTextFileResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="UploadTextFileResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DownloadTextFile">
        <s:complexType />
      </s:element>
      <s:element name="DownloadTextFileResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DownloadTextFileResult" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DownloadFile">
        <s:complexType />
      </s:element>
      <s:element name="DownloadFileResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DownloadFileResult" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="UploadGlobalFileSoapIn">
    <wsdl:part name="parameters" element="tns:UploadGlobalFile" />
  </wsdl:message>
  <wsdl:message name="UploadGlobalFileSoapOut">
    <wsdl:part name="parameters" element="tns:UploadGlobalFileResponse" />
  </wsdl:message>
  <wsdl:message name="UploadFilesSoapIn">
    <wsdl:part name="parameters" element="tns:UploadFiles" />
  </wsdl:message>
  <wsdl:message name="UploadFilesSoapOut">
    <wsdl:part name="parameters" element="tns:UploadFilesResponse" />
  </wsdl:message>
  <wsdl:message name="UploadTextFileSoapIn">
    <wsdl:part name="parameters" element="tns:UploadTextFile" />
  </wsdl:message>
  <wsdl:message name="UploadTextFileSoapOut">
    <wsdl:part name="parameters" element="tns:UploadTextFileResponse" />
  </wsdl:message>
  <wsdl:message name="DownloadTextFileSoapIn">
    <wsdl:part name="parameters" element="tns:DownloadTextFile" />
  </wsdl:message>
  <wsdl:message name="DownloadTextFileSoapOut">
    <wsdl:part name="parameters" element="tns:DownloadTextFileResponse" />
  </wsdl:message>
  <wsdl:message name="DownloadFileSoapIn">
    <wsdl:part name="parameters" element="tns:DownloadFile" />
  </wsdl:message>
  <wsdl:message name="DownloadFileSoapOut">
    <wsdl:part name="parameters" element="tns:DownloadFileResponse" />
  </wsdl:message>
  <wsdl:portType name="Service1Soap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UploadGlobalFile">
      <wsdl:input message="tns:UploadGlobalFileSoapIn" />
      <wsdl:output message="tns:UploadGlobalFileSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UploadFiles">
      <wsdl:input message="tns:UploadFilesSoapIn" />
      <wsdl:output message="tns:UploadFilesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UploadTextFile">
      <wsdl:input message="tns:UploadTextFileSoapIn" />
      <wsdl:output message="tns:UploadTextFileSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DownloadTextFile">
      <wsdl:input message="tns:DownloadTextFileSoapIn" />
      <wsdl:output message="tns:DownloadTextFileSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DownloadFile">
      <wsdl:input message="tns:DownloadFileSoapIn" />
      <wsdl:output message="tns:DownloadFileSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="Service1Soap" type="tns:Service1Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UploadGlobalFile">
      <soap:operation soapAction="http://tempuri.org/UploadGlobalFile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UploadFiles">
      <soap:operation soapAction="http://tempuri.org/UploadFiles" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UploadTextFile">
      <soap:operation soapAction="http://tempuri.org/UploadTextFile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DownloadTextFile">
      <soap:operation soapAction="http://tempuri.org/DownloadTextFile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DownloadFile">
      <soap:operation soapAction="http://tempuri.org/DownloadFile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="Service1Soap12" type="tns:Service1Soap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UploadGlobalFile">
      <soap12:operation soapAction="http://tempuri.org/UploadGlobalFile" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UploadFiles">
      <soap12:operation soapAction="http://tempuri.org/UploadFiles" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UploadTextFile">
      <soap12:operation soapAction="http://tempuri.org/UploadTextFile" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DownloadTextFile">
      <soap12:operation soapAction="http://tempuri.org/DownloadTextFile" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DownloadFile">
      <soap12:operation soapAction="http://tempuri.org/DownloadFile" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="Service1Soap" binding="tns:Service1Soap">
      <soap:address location="http://31.25.191.84:1032/Service1.asmx" />
    </wsdl:port>
    <wsdl:port name="Service1Soap12" binding="tns:Service1Soap12">
      <soap12:address location="http://31.25.191.84:1032/Service1.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>